repos:
- repo: https://github.com/commitizen-tools/commitizen
  rev: master
  hooks:
  - id: commitizen
    stages: [commit-msg]
-   repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        name: isort (python)