[tool.poetry]
name = "pycmtensor"
version = "0.8.0"
description = "Python Tensor based package for Deep neural net assisted Discrete Choice Modelling."
authors = ["Melvin Wong <m.j.w.wong@tue.nl>"]
license = "MIT License"
readme = "README.md"

homepage = ""
repository = "https://github.com/mwong009/pycmtensor"
documentation = ""

keywords = ["pycmtensor"]

classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Operating System :: OS Independent",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3.9",
]

[tool.poetry.dependencies]
python = ">=3.8,<3.10"
numpy = ">=1.19.0,<1.22.0"
scipy = ">=1.7.1,<1.8.0"
aesara = "^2.4.0"
dill = "^0.3.4"
pandas = "^1.3.5"
Cython = "^0.29.28"
tqdm = "^4.62.3"
ipykernel = "^6.9.1"
ipywidgets = "^7.6.5"
pydot = "^1.4.2"

[tool.poetry.dev-dependencies]
# Testing
pytest = "^7.0.1"
pytest-cov = "^3.0.0"

# Formatters
black = { version = "^22.1.0", optional = true } 
isort = { version = "^5.10.1", optional = true } 

#Linters
pydocstyle = { version = "^6.1.1", optional = true } 
rstcheck = { version = "^3.3.1", optional = true } 

# Documentation
Sphinx = { version = "^4.4.0", optional = true } 
sphinx-book-theme = { version = "^0.2.0", optional = true } 
sphinx-autoapi = { version = "^1.8.4", optional = true } 
myst-nb = { version = "^0.13.0", optional = true } 

# Tooling
pre-commit = { version = "^2.17.0", optional = true } 
commitizen = { version = "^2.21.0", optional = true } 

[tool.poetry.extras]
lint = ["black", "isort", "pydocstyle", "rstcheck"]
docs = ["Sphinx", "sphinx-book-theme", "sphinx-autoapi", "myst-nb"]
tool = ["commitizen", "pre-commit"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
skip_glob = ".pytest_cache/*"

[tool.black]
line-length = 88
target-version = ["py38"]
quiet = false

[tool.commitizen]
name = "cz_conventional_commits"
version = "0.8.0"
tag_format = "v$version"
version_files = [
    "pyproject.toml:version",
    "pycmtensor/__init__.py",
    "docs/conf.py",
]

[tool.pytest]
markers = []
# poetry run pytest

[tool.pytest.ini_options]
addopts = """
    --cov=pycmtensor 
    --cov-report=xml 
    --cov-report=term tests/
"""
filterwarnings = [
    "error",
    "ignore::UserWarning",
    # note the use of single quote below to denote "raw" strings in TOML
    'ignore:function ham\(\) is deprecated:DeprecationWarning',
]

[tool.coverage.run]
omit = [".*", "*/site-packages/*", "tests/*", "docs/*"]
# command:
# poetry run coverage run -m pytest && poetry run coverage report