[tool.poetry]
name = "pycmtensor"
version = "1.1.0"
description = "Python Tensor based package for Deep neural net assisted Discrete Choice Modelling."
authors = ["Melvin Wong <m.j.w.wong@tue.nl>"]
license = "MIT License"
readme = "README.md"

homepage = ""
repository = "https://github.com/mwong009/pycmtensor"
documentation = ""

keywords = ["pycmtensor"]

classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Operating System :: OS Independent",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.8",
]

[tool.poetry.dependencies]
# Core
python = "3.9.12"
aesara = ">2.7.4"
numpy = ">=1.19.0"
scipy = "^1.7.1"
dill = "^0.3.4"
pandas = "^1.3.5"
pydot = "^1.4.2"

# Formatters
black = { version = "22.6.0", optional = true } 
isort = { version = "5.10.1", optional = true } 

#Linters
pydocstyle = { version = "^6.1.1", optional = true } 
rstcheck = { version = "^3.3.1", optional = true } 

# Documentation
Sphinx = { version = "^4.4.0", optional = true } 
sphinx-book-theme = { version = "^0.2.0", optional = true } 
sphinx-autoapi = { version = "^1.8.4", optional = true } 
myst-parser = {version = "^0.18.0", optional = true}

# Tooling
pre-commit = { version = "^2.17.0", optional = true } 
commitizen = { version = "^2.21.0", optional = true } 

[tool.poetry.dev-dependencies]
# Testing
pytest = ">=7.0"
pytest-cov = "^3.0.0"

[tool.poetry.extras]
lint = ["black", "isort", "pydocstyle", "rstcheck"]
commit = ["commitizen", "pre-commit"]
docs = ["Sphinx", "sphinx-book-theme", "sphinx-autoapi", "myst-parser"]
dev = ["black", "isort", "pydocstyle", "rstcheck", "Sphinx", "sphinx-book-theme", "sphinx-autoapi", "myst-parser", "commitizen", "pre-commit"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
skip_glob = ".pytest_cache/*"

[tool.black]
line-length = 88
target-version = ["py38"]
quiet = false

[tool.commitizen]
name = "cz_conventional_commits"
version = "1.1.0"
tag_format = "v$version"
version_files = [
    "pyproject.toml:version",
    "pycmtensor/__init__.py",
    "docs/conf.py",
]

[tool.pytest]
markers = []
# poetry run pytest

[tool.pytest.ini_options]
addopts = [
    "--cov=pycmtensor",
    "--cov-report=xml",
    # "--ignore-glob=*performance.py",
]

filterwarnings = [
    "error",
    "ignore::UserWarning",
    "ignore::DeprecationWarning",
]

[tool.coverage.run]
omit = [".*", "*/site-packages/*", "tests/*", "docs/*", "samples/*"]
# command:
# poetry run coverage run -m pytest && poetry run coverage report